<!DOCTYPE html>
<html>
<head>
  <title>Followers - <%= user.name %></title>
  <link rel="stylesheet" href="/stylesheets/common.css">
</head>
<body>
  <%- include('headers', { loginUser: loginUser }) %>
  <div class="container two-column">
    <!-- 左カラム -->
    <div class="left">
      <a href="/users/<%= user.id %>">
        <img src="<%= user.profileImage || '/images/default-profile.png' %>" alt="profile" class="profile-img">
      </a>
      <div><strong><%= user.name %></strong></div>
      <div><a href="/users/<%= user.id %>">view my profile</a></div>
      <div class="stats">
        <div>投稿数: <%= user.postCount %></div>
        <div>
          <a href="/users/<%= user.id %>/following">フォロー: <%= user.followingCount %></a>
          <a href="/users/<%= user.id %>/followers">フォロワー: <%= user.followerCount %></a>
        </div>
      </div>
    </div>
    <!-- 右カラム -->
    <div class="right">
      <h2>Followers</h2>
      <div class="user-list">
        <% if (followerUsers.length === 0) { %>
          <div>フォロワーはいません。</div>
        <% } %>
        <% followerUsers.forEach(function(fu) { %>
          <div class="user-list-item">
            <a href="/users/<%= fu.id %>"><%= fu.name %></a>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
</body>
</html>