<!DOCTYPE html>
<html>
<head>
  <title>Followers - <%= user.name %></title>
  <link rel="stylesheet" href="/stylesheets/common.css">
</head>
<body>
  <%- include('headers', { loginUser: loginUser }) %>
  <div class="container two-column">
    <!-- 左カラム -->
    <div class="left">
      <a href="/users/<%= user.id %>">
        <img src="<%= user.profileImage || '/images/default-profile.png' %>" alt="profile" class="profile-img">
      </a>
      <div><strong><%= user.name %></strong></div>
      <div><a href="/users/<%= user.id %>">view my profile</a></div>
      <div class="stats">
        <div class="stat-item">
          <span class="stat-label">投稿数</span>
          <span class="stat-value"><%= user.postCount %></span>
        </div>
        <a href="/users/<%= user.id %>/following">
          <div class="stat-item">
            <span class="stat-label">フォロー</span>
            <span class="stat-value">
              <%= user.followingCount %>
            </span>
          </div>
        </a>
        <a href="/users/<%= user.id %>/followers">
          <div class="stat-item">
            <span class="stat-label">フォロワー</span>
            <span class="stat-value">
              <%= user.followerCount %>
            </span>
          </div>
        </a>
      </div>
    </div>
    <!-- 右カラム -->
    <div class="right">
      <h2>Followers</h2>
      <div class="user-list">
        <% if (followerUsers.length === 0) { %>
          <div>フォロワーはいません。</div>
        <% } %>
        <% followerUsers.forEach(function(user) { %>
          <div class="user-list-item">
            <img src="<%= user.profileImage || '/images/default-profile.png' %>" alt="profile" class="profile-img" style="width:40px; height:40px; margin-right:10px;">
            <a href="/users/<%= user.id %>"><%= user.name %></a>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
</body>
</html>