<!-- filepath: /workspaces/node-mysql-arut3ko/views/profile.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= user.name %> - Profile</title>
  <link rel="stylesheet" href="/stylesheets/common.css">
</head>
<body>
  <%- include('headers', { loginUser: loginUser }) %>
  <div class="container two-column">
    <!-- 左カラム -->
    <div class="left">
      <a href="/users/<%= user.id %>">
        <% if (user.profileImage) { %>
          <img src="<%= user.profileImage %>" alt="Profile Image" class="profile-img">
        <% } else { %>
          <img src="/images/default-profile.png" alt="Default Profile" class="profile-img">
        <% } %>
      </a>
      <div><strong><%= user.name %></strong></div>
      <!--<div><a href="/users/<%= user.id %>">view my profile</a></div>-->
      <% if (loginUser && loginUser.id !== user.id) { %>
        <% if (isFollowing) { %>
          <form action="/users/<%= user.id %>/unfollow" method="post" style="margin-bottom:20px;">
            <button type="submit">UnFollow</button>
          </form>
        <% } else { %>
          <form action="/users/<%= user.id %>/follow" method="post" style="margin-bottom:20px;">
            <button type="submit">Follow</button>
          </form>
        <% } %>
      <% } %>
      <div class="stats">
        <div>投稿数: <%= user.postCount %></div>
        <div>
          <a href="/users/<%= user.id %>/following">フォロー: <%= user.followingCount %></a>
          <a href="/users/<%= user.id %>/followers">フォロワー: <%= user.followerCount %></a>
        </div>
      </div>
      <% if (user.bio) { %>
      <div class="user-bio">
        <h4>自己紹介</h4>
        <p><%= user.bio %></p>
      </div>
    <% } %>
    </div>
    <!-- 右カラム -->
    <div class="right">
      <h2>Micropost Feed</h2>
      <% if (microposts && microposts.length > 0) { %>
        <% microposts.forEach(function(post) { %>
          <div class="micropost">
            <a href="/users/<%= user.id %>">
              <img src="<%= user.profileImage || '/images/default-profile.png' %>" alt="profile" class="profile-img">
            </a>
            <div class="micropost-content">
              <div class="micropost-header">
                <a href="/users/<%= user.id %>"><%= user.name %></a>
                <span class="micropost-date"><%= toJapanTimeString(post.created_at) %></span>
              </div>
              <div><%= post.content %></div>
              <% if (loginUser && loginUser.id === user.id) { %>
                <form action="/microposts/<%= post.id %>?_method=DELETE" method="post" style="display:inline;">
                  <button type="submit" class="delete-btn">delete</button>
                </form>
              <% } %>
            </div>
          </div>
        <% }); %>
      <% } else { %>
        <div>投稿はありません。</div>
      <% } %>
    </div>
  </div>
</body>
</html>