<!-- filepath: /workspaces/node-mysql-arut3ko/views/users.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>All Users</title>
  <link rel="stylesheet" href="/stylesheets/common.css">
</head>
<body>
  <%- include('headers', { loginUser: loginUser }) %>
  <div class="container">
    <h2>All Users</h2>
    <% users.forEach(function(user) { %>
      <div class="user-list-item with-button">
        <img src="<%= user.profileImage || '/images/default-profile.png' %>" alt="profile" class="profile-img" style="width:40px; height:40px; margin-right:10px;">
        <a href="/users/<%= user.id %>"><%= user.name %></a>
        <% if (loginUser && loginUser.isAdmin) { %>
          <form action="/users/<%= user.id %>/delete" method="post" style="display:inline;">
            <button type="submit" class="delete-btn">delete</button>
          </form>
        <% } %>
      </div>
    <% }); %>
  </div>
</body>
</html>